params {
    sample_id = ""
    output_basename = ""
    input_reads_list = ""
    input_mates_list = ""
    input_rgs_list = ""
    is_paired_end = ""
    read_length_median = ""
    read_length_stddev = ""
    strandedness = ""

    // bam input processing
    input_alignment_reads = ""
    max_reads = 200000
    line_filter = "^@RG"

    // cutadapt specific
    cutadapt_r1_adapter = ""
    cutadapt_r2_adapter = ""
    cutadapt_min_len = ""
    cutadapt_quality_base = ""
    cutadapt_quality_cutoff = ""
    
    reference = ""
    reference_index = ""
    gtf_anno = ""
    kallisto_idx = ""
    ram = ""
    // STAR-specific
    genomeDir = ""
    readFilesCommand = "zcat"
    alignInsertionFlush = "None"
    alignIntronMax = 1000000
    alignMatesGapMax = 1000000
    alignSJDBoverhangMin = 1
    alignSJoverhangMin = 8
    alignSJstitchMismatchNmax = "5 -1 5 5"
    alignSoftClipAtReferenceEnds = "Yes"
    alignSplicedMateMapLmin = 0
    alignSplicedMateMapLminOverLmate = 0.5
    chimJunctionOverhangMin = 10
    chimMainSegmentMultNmax = 1
    chimMultimapNmax = 50
    chimMultimapScoreRange = 1
    chimNonchimScoreDropMin = 20
    chimOutJunctionFormat = 1
    chimOutType = "Junctions WithinBAM SoftClip"
    chimScoreDropMax = 30
    chimScoreJunctionNonGTAG = -1
    chimScoreSeparation = 1
    chimSegmentMin = 10
    chimSegmentReadGapMax = 3
    genomeLoad = "NoSharedMemory"
    limitSjdbInsertNsj = 1200000
    outFilterIntronMotifs = "None"
    outFilterMatchNminOverLread = 0.33
    outFilterMismatchNmax = 999
    outFilterMismatchNoverLmax = 0.1
    outFilterMultimapNmax = 50
    outFilterScoreMinOverLread = 0.33
    outFilterType = "BySJout"
    outReadsUnmapped = "None"
    outSAMattributes = "NH HI AS nM NM ch"
    outSAMstrandField = "intronMotif"
    outSAMtype = "BAM Unsorted"
    outSAMunmapped = "Within"
    peOverlapMMp = 0.01
    peOverlapNbasesMin = 10
    quantMode = "TranscriptomeSAM GeneCounts"
    twopassMode = "Basic"
    // STAR fusion
    examine_coding_effect = true
    FusionGenome = ""
    star_fusion_genome_untar_path = "GRCh38_v39_CTAT_lib_Mar242022.CUSTOM/"
    // RSEM
    RSEMgenome = ""
    fragment_length_max = 1000
    append_names = true
    estimate_rspd = true
    // RNASeQC
    RNAseQC_GTF = ""
    // arriba
    assembly = "hg38_GRCh38"
    fusion_annotator_tar = ""
    // annoFuse
    annofuse_col_num = 30
    // rmats
    rmats_variable_read_length = true
    // T1K
    t1k_abnormal_unmap_flag = true
    t1k_preset = "hla"
    t1k_skip_post_analysis = true
    hla_rna_ref_seqs = ""
    hla_rna_gene_coords = ""
    // misc
    max_memory = "128 GB"
    max_time = "12h"
    max_cpus = 96
    outdir = "./results"
    aws_test_instance = false
}

includeConfig 'conf/base.config'
includeConfig 'conf/kids_first.config'
if (params.aws_test_instance){ includeConfig 'conf/aws_instance_test.config' }

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
// from: https://github.com/nf-core/sarek/blob/master/nextflow.config
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}