process{
    withName: CUTADAPT {
        ext.args = { [
            (params.cutadapt_r1_adapter) ? "-a ${params.cutadapt_r1_adapter} -o TRIMMED.${reads[0].name}" : '',
            (params.cutadapt_r2_adapter) ? "-A ${params.cutadapt_r2_adapter} -p TRIMMED.${reads[1].name}" : '',
            (params.cutadapt_min_len) ? "--minimum-length ${params.cutadapt_min_len}" : "",
            (params.cutadapt_quality_base) ? "--quality-base ${params.cutadapt_quality_base}" : '',
            (params.cutadapt_quality_cutoff) ? "--quality-cutoff ${params.cutadapt_quality_cutoff}" : '',
        ].join(' ').trim() }
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/cutadapt/" },
            pattern: "*cutadapt_stats.txt"
        ]
    }
    withName: STAR_ALIGN {
        ext.args = {[
            "--alignInsertionFlush " + params.alignInsertionFlush,
            "--alignIntronMax " + params.alignIntronMax,
            "--alignMatesGapMax " + params.alignMatesGapMax,
            "--alignSJDBoverhangMin " + params.alignSJDBoverhangMin,
            "--alignSJoverhangMin " + params.alignSJoverhangMin,
            "--alignSJstitchMismatchNmax " + params.alignSJstitchMismatchNmax,
            "--alignSoftClipAtReferenceEnds " + params.alignSoftClipAtReferenceEnds,
            "--alignSplicedMateMapLmin " + params.alignSplicedMateMapLmin,
            "--alignSplicedMateMapLminOverLmate " + params.alignSplicedMateMapLminOverLmate,
            "--chimJunctionOverhangMin " + params.chimJunctionOverhangMin,
            "--chimMainSegmentMultNmax " + params.chimMainSegmentMultNmax,
            "--chimMultimapNmax " + params.chimMultimapNmax,
            "--chimMultimapScoreRange " + params.chimMultimapScoreRange,
            "--chimNonchimScoreDropMin " + params.chimNonchimScoreDropMin,
            "--chimOutJunctionFormat " + params.chimOutJunctionFormat,
            "--chimOutType " + params.chimOutType,
            "--chimScoreDropMax " + params.chimScoreDropMax,
            "--chimScoreJunctionNonGTAG " + params.chimScoreJunctionNonGTAG,
            "--chimScoreSeparation " + params.chimScoreSeparation,
            "--chimSegmentMin " + params.chimSegmentMin,
            "--chimSegmentReadGapMax " + params.chimSegmentReadGapMax,
            "--genomeLoad " + params.genomeLoad,
            "--limitSjdbInsertNsj " + params.limitSjdbInsertNsj,
            "--outFilterIntronMotifs " + params.outFilterIntronMotifs,
            "--outFilterMatchNminOverLread " + params.outFilterMatchNminOverLread,
            "--outFilterMismatchNmax " + params.outFilterMismatchNmax,
            "--outFilterMismatchNoverLmax " + params.outFilterMismatchNoverLmax,
            "--outFilterMultimapNmax " + params.outFilterMultimapNmax,
            "--outFilterScoreMinOverLread " + params.outFilterScoreMinOverLread,
            "--outFilterType " + params.outFilterType,
            "--outReadsUnmapped " + params.outReadsUnmapped,
            "--outSAMattributes " + params.outSAMattributes,
            "--outSAMstrandField " + params.outSAMstrandField,
            "--outSAMtype " + params.outSAMtype,
            "--outSAMunmapped " + params.outSAMunmapped,
            "--peOverlapMMp " + params.peOverlapMMp,
            "--peOverlapNbasesMin " + params.peOverlapNbasesMin,
            "--quantMode " + params.quantMode,
            "--twopassMode " + params.twopassMode
            ].join(' ').trim()
        }
    }
    withName: STAR_FUSION {
        ext.args = {[
            params.examine_coding_effect ? "--examine_coding_effect" : "",
            "--genome_lib_dir ./" + params.star_fusion_genome_untar_path,
            ].join(' ').trim()
        }
    }
    withName: RSEM {
        ext.args = {[
            params.is_paired_end ? "--paired-end " : "",
            params.append_names ? "--append-names" : "",
            params.estimate_rspd ? "--estimate-rspd" : "",
            "--num-threads " + params.rsem_threads,
            "--fragment-length-max " + params.fragment_length_max,
            ].join(' ').trim()
        }
    }
    withName: ARRIBA_FUSION {
        ext.args = {[
            "-b /arriba_v2.2.1/database/blacklist_${params.assembly}_v2.2.1.tsv.gz",
            "-k /arriba_v2.2.1/database/known_fusions_${params.assembly}_v2.2.1.tsv.gz",
            "-t /arriba_v2.2.1/database/known_fusions_${params.assembly}_v2.2.1.tsv.gz",
            "-p /arriba_v2.2.1/database/protein_domains_${params.assembly}_v2.2.1.gff3",
            ].join(' ').trim()
        }
    }
    withName: ARRIBA_DRAW {
        ext.args = {[
            "--cytobands=/arriba_v2.2.1/database/cytobands_${params.assembly}_v2.2.1.tsv",
            "--proteinDomains=/arriba_v2.2.1/database/protein_domains_${params.assembly}_v2.2.1.gff3",
            ].join(' ').trim()
        }
    }
    withName: ANNOTATE_ARRIBA {
        ext.args = {[
            "--fusion_name_col ${params.annofuse_col_num}",
            "--genome_lib_dir ./" + params.star_fusion_genome_untar_path,
            ].join(' ').trim()
        }
    }
    withName: RMATS {
        ext.args = {[
            params.rmats_variable_read_length ? "--variable-read-length" : "",
            ].join(' ').trim()
        }
    }
    withName: T1K {
        ext.args = {[
            params.t1k_abnormal_unmap_flag ? "--abnormalUnmapFlag" : "",
            "--preset ${params.t1k_preset}",
            params.t1k_skip_post_analysis ? "--skipPostAnalysis" : ""
            ].join(' ').trim()
        }
    }
}