process{
    withName: ALIGNMENT_PAIREDNESS {
        $sbgAWSInstanceHint='c6i.2xlarge'
    }
    withName: FASTQ_STRANDEDNESS {
        $sbgAWSInstanceHint='c6i.2xlarge'
    }
    withName: SAMTOOLS_FASTQ {
        $sbgAWSInstanceHint='c6i.2xlarge'
    }
    withName: CUTADAPT {
        ext.args = { [
            (params.cutadapt_r1_adapter) ? "-a ${params.cutadapt_r1_adapter} -o TRIMMED.${reads[0].name}" : '',
            (params.cutadapt_r2_adapter) ? "-A ${params.cutadapt_r2_adapter} -p TRIMMED.${reads[1].name}" : '',
            (params.cutadapt_min_len) ? "--minimum-length ${params.cutadapt_min_len}" : "",
            (params.cutadapt_quality_base) ? "--quality-base ${params.cutadapt_quality_base}" : '',
            (params.cutadapt_quality_cutoff) ? "--quality-cutoff ${params.cutadapt_quality_cutoff}" : '',
        ].join(' ').trim() }
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/cutadapt/" },
            pattern: "*cutadapt_stats.txt"
        ]
    }
    withName: STAR_ALIGN {
        $sbgAWSInstanceHint='m6i.4xlarge'
        ext.args = {[
            "--alignInsertionFlush " + params.alignInsertionFlush,
            "--alignIntronMax " + params.alignIntronMax,
            "--alignMatesGapMax " + params.alignMatesGapMax,
            "--alignSJDBoverhangMin " + params.alignSJDBoverhangMin,
            "--alignSJoverhangMin " + params.alignSJoverhangMin,
            "--alignSJstitchMismatchNmax " + params.alignSJstitchMismatchNmax,
            "--alignSoftClipAtReferenceEnds " + params.alignSoftClipAtReferenceEnds,
            "--alignSplicedMateMapLmin " + params.alignSplicedMateMapLmin,
            "--alignSplicedMateMapLminOverLmate " + params.alignSplicedMateMapLminOverLmate,
            "--chimJunctionOverhangMin " + params.chimJunctionOverhangMin,
            "--chimMainSegmentMultNmax " + params.chimMainSegmentMultNmax,
            "--chimMultimapNmax " + params.chimMultimapNmax,
            "--chimMultimapScoreRange " + params.chimMultimapScoreRange,
            "--chimNonchimScoreDropMin " + params.chimNonchimScoreDropMin,
            "--chimOutJunctionFormat " + params.chimOutJunctionFormat,
            "--chimOutType " + params.chimOutType,
            "--chimScoreDropMax " + params.chimScoreDropMax,
            "--chimScoreJunctionNonGTAG " + params.chimScoreJunctionNonGTAG,
            "--chimScoreSeparation " + params.chimScoreSeparation,
            "--chimSegmentMin " + params.chimSegmentMin,
            "--chimSegmentReadGapMax " + params.chimSegmentReadGapMax,
            "--genomeLoad " + params.genomeLoad,
            "--limitSjdbInsertNsj " + params.limitSjdbInsertNsj,
            "--outFilterIntronMotifs " + params.outFilterIntronMotifs,
            "--outFilterMatchNminOverLread " + params.outFilterMatchNminOverLread,
            "--outFilterMismatchNmax " + params.outFilterMismatchNmax,
            "--outFilterMismatchNoverLmax " + params.outFilterMismatchNoverLmax,
            "--outFilterMultimapNmax " + params.outFilterMultimapNmax,
            "--outFilterScoreMinOverLread " + params.outFilterScoreMinOverLread,
            "--outFilterType " + params.outFilterType,
            "--outReadsUnmapped " + params.outReadsUnmapped,
            "--outSAMattributes " + params.outSAMattributes,
            "--outSAMstrandField " + params.outSAMstrandField,
            "--outSAMtype " + params.outSAMtype,
            "--outSAMunmapped " + params.outSAMunmapped,
            "--peOverlapMMp " + params.peOverlapMMp,
            "--peOverlapNbasesMin " + params.peOverlapNbasesMin,
            "--quantMode " + params.quantMode,
            "--twopassMode " + params.twopassMode
            ].join(' ').trim()
        }
        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/STAR_gene_count/" },
                pattern: "*ReadsPerGene.out.tab.gz"
            ],
            [
                mode: 'copy',
                path: { "${params.outdir}/STAR_junctions_out/" },
                pattern: "*SJ.out.tab.gz"
            ],
            [
                mode: 'copy',
                path: { "${params.outdir}/STAR_final_log/" },
                pattern: "*Log.final.out"
            ]
        ]
    }
    withName: STAR_FUSION {
        ext.args = {[
            params.examine_coding_effect ? "--examine_coding_effect" : "",
            "--genome_lib_dir ./" + params.star_fusion_genome_untar_path,
            ].join(' ').trim()
        }
        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/STAR-Fusion_results/" },
                pattern: "*fusion_predictions.abridged.coding_effect.tsv"
            ],
            [
                mode: 'copy',
                path: { "${params.outdir}/STAR_chimeric_junctions/" },
                pattern: "*Chimeric.out.junction.gz"
            ]
        ]
    }
    withName: ANNOFUSE {
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/annofuse_filtered_fusions_tsv/" },
            pattern: "*tsv"
        ]
    }
    withName: RSEM {
        ext.args = {[
            params.is_paired_end ? "--paired-end " : "",
            params.append_names ? "--append-names" : "",
            params.estimate_rspd ? "--estimate-rspd" : "",
            "--fragment-length-max " + params.fragment_length_max,
            ].join(' ').trim()
        }
        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/RSEM_isoform/" },
                pattern: "*isoforms.results.gz"
            ],
            [
                mode: 'copy',
                path: { "${params.outdir}/RSEM_gene/" },
                pattern: "*genes.results.gz"
            ]
        ]
    }
    withName: ARRIBA_FUSION {
        ext.args = {[
            "-b /arriba_v2.2.1/database/blacklist_${params.assembly}_v2.2.1.tsv.gz",
            "-k /arriba_v2.2.1/database/known_fusions_${params.assembly}_v2.2.1.tsv.gz",
            "-t /arriba_v2.2.1/database/known_fusions_${params.assembly}_v2.2.1.tsv.gz",
            "-p /arriba_v2.2.1/database/protein_domains_${params.assembly}_v2.2.1.gff3",
            ].join(' ').trim()
        }
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/arriba_fusion_results/" },
            pattern: "*arriba_2.2.1.fusions.tsv"
        ]
    }
    withName: ARRIBA_DRAW {
        ext.args = {[
            "--cytobands=/arriba_v2.2.1/database/cytobands_${params.assembly}_v2.2.1.tsv",
            "--proteinDomains=/arriba_v2.2.1/database/protein_domains_${params.assembly}_v2.2.1.gff3",
            ].join(' ').trim()
        }
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/arriba_fusion_viz/" },
            pattern: "*pdf"
        ]
    }
    withName: ANNOTATE_ARRIBA {
        ext.args = {[
            "--fusion_name_col ${params.annofuse_col_num}",
            "--genome_lib_dir ./" + params.star_fusion_genome_untar_path,
            ].join(' ').trim()
        }
    }
    withName: RMATS {
        ext.args = {[
            params.rmats_variable_read_length ? "--variable-read-length" : "",
            ].join(' ').trim()
        }

    }
    withName: AWK_JC_FILTER {
        publishDir = [
            [
                mode: 'copy',
                path: { "${params.outdir}/rmats_filtered_alternative_3_prime_splice_sites_jc/" },
                pattern: "*filtered.A3SS.MATS.JC.txt"
            ],
            [
                mode: 'copy',
                path: { "${params.outdir}/rmats_filtered_alternative_5_prime_splice_sites_jc/" },
                pattern: "*filtered.A5SS.MATS.JC.txt"
            ],
            [
                mode: 'copy',
                path: { "${params.outdir}/rmats_filtered_mutually_exclusive_exons_jc/" },
                pattern: "*filtered.MXE.MATS.JC.txt"
            ],
            [
                mode: 'copy',
                path: { "${params.outdir}/rmats_filtered_retained_introns_jc/" },
                pattern: "*filtered.RI.MATS.JC.txt"
            ],
            [
                mode: 'copy',
                path: { "${params.outdir}/rmats_filtered_skipped_exons_jc/" },
                pattern: "*filtered.SE.MATS.JC.txt"
            ]
        ]
    }
    withName: T1K {
        ext.args = {[
            params.t1k_abnormal_unmap_flag ? "--abnormalUnmapFlag" : "",
            "--preset ${params.t1k_preset}",
            params.t1k_skip_post_analysis ? "--skipPostAnalysis" : ""
            ].join(' ').trim()
        }
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/t1k_genotype_tsv/" },
            pattern: "*_genotype.tsv"
        ]
    }
    withNane: RNASEQC {
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/RNASeQC_Metrics/" },
            pattern: "output/*metrics.tsv"
        ]
    }
    withName: SAMTOOLS_VIEW {
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/STAR_sorted_genomic_cram/" },
            pattern: "*cram*"
        ]
    }
    withName: TAR_GZ {
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/RNASeQC_counts/" },
            pattern: "*RNASeQC.counts.tar.gz"
        ]
    }
    withName: KALLISTO {
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/kallisto_Abundance/" },
            pattern: "*.abundance.tsv.gz"
        ]
    }
}