process{
    withName: CUTADAPT {
        ext.args = { [
            (params.cutadapt_r1_adapter) ? "-a ${params.cutadapt_r1_adapter} -o TRIMMED.${reads[0].name}" : '',
            (params.cutadapt_r2_adapter) ? "-A ${params.cutadapt_r2_adapter} -p TRIMMED.${reads[1].name}" : '',
            (params.cutadapt_min_len) ? "--minimum-length ${params.cutadapt_min_len}" : "",
            (params.cutadapt_quality_base) ? "--quality-base ${params.cutadapt_quality_base}" : '',
            (params.cutadapt_quality_cutoff) ? "--quality-cutoff ${params.cutadapt_quality_cutoff}" : '',
        ].join(' ').trim() }
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/cutadapt/" },
            pattern: "*cutadapt_stats.txt"
        ]
    }
    withName: STAR_ALIGN {
        ext.args = {[
            "--alignInsertionFlush " + params.alignInsertionFlush,
            "--alignIntronMax " + params.alignIntronMax,
            "--alignMatesGapMax " + params.alignMatesGapMax,
            "--alignSJDBoverhangMin " + params.alignSJDBoverhangMin,
            "--alignSJoverhangMin " + params.alignSJoverhangMin,
            "--alignSJstitchMismatchNmax " + params.alignSJstitchMismatchNmax,
            "--alignSoftClipAtReferenceEnds " + params.alignSoftClipAtReferenceEnds,
            "--alignSplicedMateMapLmin " + params.alignSplicedMateMapLmin,
            "--alignSplicedMateMapLminOverLmate " + params.alignSplicedMateMapLminOverLmate,
            "--chimJunctionOverhangMin " + params.chimJunctionOverhangMin,
            "--chimMainSegmentMultNmax " + params.chimMainSegmentMultNmax,
            "--chimMultimapNmax " + params.chimMultimapNmax,
            "--chimMultimapScoreRange " + params.chimMultimapScoreRange,
            "--chimNonchimScoreDropMin " + params.chimNonchimScoreDropMin,
            "--chimOutJunctionFormat " + params.chimOutJunctionFormat,
            "--chimOutType " + params.chimOutType,
            "--chimScoreDropMax " + params.chimScoreDropMax,
            "--chimScoreJunctionNonGTAG " + params.chimScoreJunctionNonGTAG,
            "--chimScoreSeparation " + params.chimScoreSeparation,
            "--chimSegmentMin " + params.chimSegmentMin,
            "--chimSegmentReadGapMax " + params.chimSegmentReadGapMax,
            "--genomeLoad " + params.genomeLoad,
            "--limitSjdbInsertNsj " + params.limitSjdbInsertNsj,
            "--outFilterIntronMotifs " + params.outFilterIntronMotifs,
            "--outFilterMatchNminOverLread " + params.outFilterMatchNminOverLread,
            "--outFilterMismatchNmax " + params.outFilterMismatchNmax,
            "--outFilterMismatchNoverLmax " + params.outFilterMismatchNoverLmax,
            "--outFilterMultimapNmax " + params.outFilterMultimapNmax,
            "--outFilterScoreMinOverLread " + params.outFilterScoreMinOverLread,
            "--outFilterType " + params.outFilterType,
            "--outReadsUnmapped " + params.outReadsUnmapped,
            "--outSAMattributes " + params.outSAMattributes,
            "--outSAMstrandField " + params.outSAMstrandField,
            "--outSAMtype " + params.outSAMtype,
            "--outSAMunmapped " + params.outSAMunmapped,
            "--peOverlapMMp " + params.peOverlapMMp,
            "--peOverlapNbasesMin " + params.peOverlapNbasesMin,
            "--quantMode " + params.quantMode,
            "--runThreadN " + params.runThreadN,
            "--twopassMode " + params.twopassMode
            ].join(' ').trim()
        }
    }
}