process {
    withName: SAMTOOLS_HEAD {
        afterScript = { "rm $input_align"}
    }
    withName: SAMTOOLS_HEAD_RG_CT {
        afterScript = { "rm $input_align"}
    }
    withName: FASTQ_STRANDEDNESS {
        afterScript = { "rm ${reads.join(' ')} $annotation_gtf $kallisto_idx"}
    }
    withName: CUTADAPT {
        afterScript = { "rm ${reads.join(' ')}" }
    }
    withName: ALIGNMENT_PAIREDNESS {
        $sbgAWSInstanceHint='c6i.2xlarge'
        afterScript = { "rm ${input_reads.join(' ')}"}
    }
    withName: FASTQ_STRANDEDNESS {
        $sbgAWSInstanceHint='c6i.2xlarge'
        afterScript = { "rm ${reads.join(' ')}"}
    }
    withName: SAMTOOLS_FASTQ {
        $sbgAWSInstanceHint='c6i.2xlarge'
    }
    withName: STAR_ALIGN {
        $sbgAWSInstanceHint='m6i.4xlarge'
        afterScript = { "rm $genomeDir ${fastq_reads.join(' ')}" }
    }
    withName: STAR_FUSION {
        afterScript = { "rm $genome_tar" }
    }
    withName: SAMTOOLS_SORT {
        afterScript = { "rm $unsorted_bam" }
    }
    withName: SAMTOOLS_VIEW {
        afterScript = { "rm $input_bam $reference" }
    }
    withName: SAMTOOLS_FASTQ {
        afterScript = { "rm $input_align $cram_reference" }
    }
}