process {
    withName: FINDCIRC_MAIN {
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/" },
            pattern: "*.sites.*",
        ]
    }
    withName: DCC_MAIN {
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/" },
            pattern: "Circ*_clean",
            saveAs: { "${meta.id}.${it}"  }
        ]
    }
    withName: CIRCEXPLORER_MAIN {
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/" },
            pattern: "*circ.txt",
        ]
    }
    withName: CIRCSNAKE_VOTE {
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/" },
            pattern: "*.{csv,tiff}",
        ]
    }
    withName: CIRCSNAKE_NORM {
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/" },
            pattern: "*.normed_voted.csv",
        ]
    }
    withName: CIRCSNAKE_MERGE {
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/" },
            pattern: "*.normed_voted.merged.csv",
        ]
    }
}
