process {
    withName: 'FINDCIRC_ANCHORS' {
        afterScript = { "rm $reads" }
    }
    withName: 'SAMTOOLS_FASTQ' { 
        afterScript = { "rm $input_align $cram_reference" }
    }
    withName: 'SAMTOOLS_SPLITFASTA' { 
        afterScript = { "rm $ref_fasta $ref_index" }
    }
    withName: 'SAMTOOLS_VIEW' { 
        afterScript = { "rm $input $index $fasta" }
    }
    withName: 'BOWTIE2_ALIGN' { 
        afterScript = { "rm $reads $index_tar $fasta" }
    }
    withName: 'DCC_MAIN' {
        afterScript = { "rm paired_junctions, read1_junctions, read2_junctions, ${sj_tabs.join(' ')} $ref_fasta $refseq_bed" }
    }
    withName: 'STAR_ALIGN.*' {
        afterScript = { "rm ${reads.join(' ')} $genomeDir" }
    }
    withName: 'FINDCIRC_MAIN' {
        afterScript = { "rm $reads $index_tar && rm -rf $chrom_fastas" }
    }
    withName: 'CIRCEXPLORER_MAIN' {
        afterScript = { "rm $fusion_junctions $ref_fasta $refseq_annot" }
    }
}
