process {
    withName: 'DCC_OUTREADER|BEDTOOLS_WINDOW.*|CIRCEXPLORER_.*|FINDCIRC_ANCHORS|FINDCIRC_FILTER|FINDCIRC_OUTREADER|CIRCSNAKE_MATRIXTWO.*|CIRCSNAKE_VOTE|CIRCSNAKE_READCOUNTS|CIRCSNAKE_NORM' {
        $sbgAWSInstanceHint = 'c6i.xlarge'
    }
    withName: 'SAMTOOLS_.*' { 
        $sbgAWSInstanceHint = 'c6i.2xlarge'
    }
    withName: 'DCC_MAIN|CIRCSNAKE_MATRIXMAKER.*' {
        $sbgAWSInstanceHint = 'm6i.2xlarge'
    }
    withName: 'STAR_ALIGN.*|BOWTIE2_ALIGN_PRIMARY|FINDCIRC_MAIN' {
        $sbgAWSInstanceHint = 'm6i.4xlarge'
    }
}
